<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{authorName}}</title>
</head>
<body>
    <h1>{{authorName}}</h1>
    <h3>Published books:</h3>
    <ul>
        {{#each books}}
            <li><a href="/20150/books/{{this.myID}}/details">{{this.title}}</a></li><br/>
        {{/each}}
    </ul>
</body>
</html>